$white: #fff;
$snow: #fafafa;
$shadow-color: rgba(155, 155, 155, 0.5);
$gainsboro: #d8d8d8;
$disabled-color: $gainsboro;
$border-color: $gainsboro;
$chart-border-color: #dfe3e6;
$chart-axis-color: #5a6872;
